.filterCardP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #0e171c;
    width: 290px;
    border-radius: 25px;
    margin-top: -110px;
    margin-left: 40%;
    position:fixed;
    z-index: 999999;
}


.filterCardP input {
    
    border-radius: 15px;
    background: white;
    width: 220px;
    height: 30px;
}


.filterCardP i{
    color:#0758b7;
}